body{
	background: rgb(126,232,250);
	background: linear-gradient(267deg, rgba(126,232,250,1) 0%, rgba(238,192,198,1) 100%);
}
.checklist {
	text-align: center;
	padding: 50px;
	position: relative;
}
.checklist h2 {
	color: #f3f3f3;
	font-size: 25px;
	padding: 10px 0;
	margin-left: 10px;
	display: inline-block;
}
.checklist label {
	position: relative;
	display: block;
	margin: 40px 0;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

.icon {
	padding: 10px;
	background: dodgerblue;
	color: white;
	min-width: 50px;
	text-align: center;
  }

  .input-field {
	padding: 10px;
	outline: none;
  }  
  .input-field:focus {
	border: 2px solid dodgerblue;
  }
